#abc {
	background-color: red;
	background-image: none;
	background-repeat: no-repeat;
}

.navbar-fixed-top {
	min-height: 50px;
}

.navbar-nav>li>a {
	padding-top: 0px;
	padding-bottom: 0px;
	line-height: 50px;
}

@media ( max-width : 767px) {
	.navbar-nav>li>a {
		line-height: 20px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
}

body {
	padding-top: 70px;
}

.carousel-inner>.item>img,.carousel-inner>.item>a>img {
	margin: auto;
	display: block;
	height: auto;
	max-width: 100%;
	line-height: 1;
	width: 100%;
}

#button1 {
	background: none;
	color: white;
	border-style: solid;
}

.dropdown-menu,.dropdown-menu>li>a {
	color: #FFF;
	background-color: #337AB7;
}

.dropdown-menu>li>a:hover {
	color: #FFF;
	background-color: #2C3B9E;
}

.dropdown.open .dropdown-toggle {
	color: #2C3B9E;
}

html,body {
	width: 100%;
}

.nopadding {
	padding: 0 !important;
	margin: 0 !important;
}
/*************************
		*******Footer CSS******
		**************************/
#footer {
	background: #fff;
}

.footer-top .container {
	border-bottom: 1px solid #E0E0DA;
	padding-bottom: 20px;
}

.companyinfo {
	margin-top: 57px;
}

.companyinfo h2 {
	color: #B4B1AB;
	font-family: abel;
	font-size: 27px;
	text-transform: uppercase;
}

.companyinfo h2  span {
	color: #FE980F;
}

.companyinfo p {
	color: #B3B3AD;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	font-weight: 300;
}

.footer-top .col-sm-3 {
	overflow: hidden;
}

.col


:not

 

(
:first-child

 

),
.col


:not

 

(
:last-child

 

)
{
padding-right


:

 

7
px


;
padding-left


:

 

7
px


;
}
.rounded {
	border-radius: 10px;
}

.carousel {
	border-radius: 55px 55px 55px 55px;
}

.border-top-radius
  
(@
radius
 
)
{
border-top-right-radius
:
 
@
radius
;

	
border-top-left-radius
:
 
@
radius
;


}
.border-right-radius
  
(@
radius
 
)
{
border-bottom-right-radius
:
 
@
radius
;

	
border-top-right-radius
:
 
@
radius
;


}
.border-bottom-radius
  
(@
radius
 
)
{
border-bottom-right-radius
:
 
@
radius
;

	
border-bottom-left-radius
:
 
@
radius
;


}
.border-left-radius
  
(@
radius
 
)
{
border-bottom-left-radius
:
 
@
radius
;

	
border-top-left-radius
:
 
@
radius
;


}
.divcar {
	border: 1px solid;
	border-top-left-radius: 2em;
}

/*
			Hover Effects
		*/
.hovereffect {
	width: 100%;
	height: 100%;
	float: left;
	overflow: hidden;
	position: relative;
	text-align: center;
	cursor: default;
}

.hovereffect .overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
}

.hovereffect img {
	display: block;
	position: relative;
	-webkit-transition: all 0.4s ease-in;
	transition: all 0.4s ease-in;
}

.hovereffect:hover img {
	filter:
		url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /><feGaussianBlur stdDeviation="3" /></filter></svg>#filter');
	filter: grayscale(0) blur(3px);
	-webkit-filter: grayscale(0) blur(3px);
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}

.hovereffect h2 {
	text-transform: uppercase;
	text-align: center;
	position: relative;
	font-size: 17px;
	padding: 10px;
	background: rgba(0, 0, 244, 0.6);
}

.hovereffect a.info {
	display: inline-block;
	text-decoration: none;
	color: blue;
	padding: 7px 14px;
	border: 1px solid #fff;
	margin: 50px 0 0 0;
	background-color: transparent;
}

.hovereffect a.info:hover {
	box-shadow: 0 0 5px blue;
}

.hovereffect a.info,.hovereffect h2 {
	-webkit-transform: scale(0.7);
	-ms-transform: scale(0.7);
	transform: scale(0.7);
	-webkit-transition: all 0.4s ease-in;
	transition: all 0.4s ease-in;
	opacity: 0;
	filter: alpha(opacity =     0);
	color: #fff;
	text-transform: uppercase;
}

.hovereffect:hover a.info,.hovereffect:hover h2 {
	opacity: 1;
	filter: alpha(opacity =     100);
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.polaroid {
	width: auto;
	box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
	text-align: center;
}

.container {
	padding: 10px;
}

.carousel .item {
	border-radius: 20px;
	background-color: rgba(0, 0, 0, 0);
	overflow: hidden;
}

.carousel-control {
	border-radius: 50px;
}

/*************************
*******login page CSS******
**************************/
#form {
	display: block;
	margin-bottom: 100px;
	margin-top: 100px;
	overflow: hidden;
}

.login-form {
	
}

.signup-form {
	
}

.login-form h2,.signup-form h2 {
	color: #000000;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 300;
	margin-bottom: 30px;
}

.login-form form input,.signup-form form input {
	background: #F0F0E9;
	border: medium none;
	color: #000000;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 300;
	height: 40px;
	margin-bottom: 10px;
	outline: medium none;
	padding-left: 10px;
	width: 100%;
}

#textarea {
	background: #F0F0E9;
	border: medium none;
	color: #000000;
	display: block;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 300;
	height: 100px;
	margin-bottom: 10px;
	outline: medium none;
	padding-left: 10px;
	width: 100%;
}

.login-form form span {
	line-height: 25px;
}

.login-form form span input {
	width: 15px;
	float: left;
	height: 15px;
	margin-right: 5px;
}

.login-form form button {
	margin-top: 15px;
}

.login-form form button,.signup-form form button {
	background: #000000;
	border: medium none;
	border-radius: 0;
	color: #FFFFFF;
	display: block;
	font-family: 'Roboto', sans-serif;
	padding: 6px 25px;
}

.login-form label {
	
}

.login-form label input {
	border: medium none;
	display: inline-block;
	height: 0;
	margin-bottom: 0;
	outline: medium none;
	padding-left: 0;
}

.or {
	background: #000000;
	border-radius: 40px;
	color: #FFFFFF;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	height: 50px;
	line-height: 50px;
	margin-top: 75px;
	text-align: center;
	width: 50px;
}

/*  animate code
*/
.view-animate-container {
	position: relative;
	height: 100px !important; //
	background: white; //
	border: 1px solid black; //
	height: 40px;
	overflow: hidden;
}

.view-animate {
	padding: 10px;
}

.view-animate.ng-enter,.view-animate.ng-leave {
	transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
	display: block;
	width: 100%;
	border-left: 1px solid black;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 10px;
}

.view-animate.ng-enter {
	left: 100%;
}

.view-animate.ng-enter.ng-enter-active {
	left: 0;
}

.view-animate.ng-leave.ng-leave-active {
	left: -100%;
}

/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/
#phnDiv {
	cursor: pointer;
	cursor: hand;
}

.hvr-bounce-in {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
}

.hvr-bounce-in:hover,.hvr-bounce-in:focus,.hvr-bounce-in:active {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
	-webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
	transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

.animation {
	-webkit-transition: 3s;
}

.animation.ng-enter {
	opacity: 0;
}

.animation.ng-leave {
	opacity: 1;
}

.animation.ng-enter.ng-enter-active {
	opacity: 1;
}

.animation.ng-leave.ng-leave-active {
	opacity: 0;
}